{% load socialaccount %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">xoos0420</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="bav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_me/">About Me</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <img class="rounded-circle" width="30px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                        {% else %}
                            <img class="rounded-circle" width="30px" src="https://ui-avatars.com/api/?name={{ user.username }}" alt="">
                        {% endif %}
                        &nbsp;
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a href="/accounts/logout/" class="dropdown-item">Log Out</a>
                    <div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="logInModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Log In</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row row-cols-2 mx-auto gap-2">
                        <a role="button" class="btn btn-outline-dark w-100 btn-sm" href="{% provider_login_url 'google' %}"><i
                                class="fa-brands fa-google"></i>&nbsp; Log in with Google</a>
                        <a role="button" class="btn btn-outline-dark w-100 btn-sm" href="/accounts/login/"><i
                                class="fa-solid fa-envelope"></i>&nbsp;&nbsp; Log in with Username</a>
                        <!-- <a role="button" class="btn btn-outline-dark w-100 btn-sm" href="/accounts/signup/"><i
                            class="fa-brands fa-google"></i>&nbsp; Sign Up with Google</a> -->
                        <a role="button" class="btn btn-outline-dark w-100 btn-sm" href="/accounts/signup/"><i
                                class="fa-solid fa-envelope"></i>&nbsp;&nbsp; Sign Up with E-mail</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>