{% extends 'blog/base.html' %}

{% block head_title %}
{{ post.title }} - Blog
{% endblock %}

{% block main_area %}
<div id="post-area">
    <!-- Post title-->
    {% if post.category %}
        <span class="badge bg-primary float-end">{{ post.category }}</span>
    {% else %}
        <span class="badge bg-primary float-end">미분류</span>
    {% endif %}

    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
    <h5 class="text-muted">{{ post.hook_text }}</h5>

    <!-- Author -->
    <p class="lead">
        by 
        <a href="#">{{ post.author | upper }}</a>
    </p>
    <hr>

    {% if user.is_authenticated and user == post.author %}
    <a class="btn btn-primary btn-sm float-end" href="/blog/update_post/{{ post.pk }}/" role="button"><i class="fas fa-pen"></i>  Edit Post</a>
    {% endif %}

    <!--Date/Time-->
    <p>{{ post.created_at }}</p>
    <hr>

    <!-- Preview image -->
    {% if post.head_image %}
    <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.tile }} head_image">
    {% else %}
    <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/1000/400" alt="random_image">
    {% endif %}
    <hr>

    <!-- Post content-->
    <p>{{ post.get_content_markdown | safe }}</p>
    {% if post.file_upload %}
    <a href="{{ post.file_upload.url }}" class="btn btn-outline-secondary" role="button" download="">download:
        {% if post.get_file_ext == 'csv' %}
        <i class="fa-solid fa-file-csv"></i>
        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
        <i class="fa-solid fa-file-excel"></i>
        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
        <i class="fa-solid fa-file-word"></i>
        {% elif post.get_file_ext == 'pdf'%}
        <i class="fa-solid fa-file-pdf"></i>
        {% elif post.get_file_ext == 'ppt' or post.get_file_ext == 'pptx' %}
        <i class="fa-solid fa-file-powerpoint"></i>
        {% elif post.get_file_ext == 'zip' or post.get_file_ext == '7z' or post_get_file_ext == 'tar' %}
        <i class="fa-solid fa-file-zipper"></i>
        {% else %}
        <i class="fa-solid fa-file"></i>
        {% endif %}
        {{ post.get_file_name }}
    </a>
    {% endif %}

    <hr>
</div>

<div id="comment-area">
    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4">
                    <textarea class="form-control mb-2" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                    <button type="submit" class="btn btn-primary float-end">submit</button>
                </form>
                
                {% if post.comment_set.exists %}
                    {% for comment in post.comment_set.iterator %}
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">{{ comment.author.username }} &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small>
                                </div>
                                <p>{{ comment.content | linebreaks }}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}